@media screen and (max-device-width: 950px)  {
  form {
    margin-bottom: 0;
    height: 120px;
    display: block;
    width: 100%;
    border: 2px solid #074E6F;
  }
  #home {
    .form-wrap {
      width: 700px;
      margin-bottom: 10px;
      height: 200px;
      .email {
        font-size: 40px;
        padding: 0 0 0 20px;
        width: 435px;
        height: 120px;
        line-height: 120px;
      }
      .byline {
        font-size: 25px;
      }
      .submit {
        font-size: 30px;
        height: 120px;
        width: 245px;
      }
    }
    .hero {
      margin: 150px auto 100px;
      height: 650px;
      background: url("home/shutterstock.png") no-repeat scroll center top;
      background-size: contain;
      min-width: 395px;
      max-width: 570px;
      .large {
        margin: 480px auto 0px;
        text-align: center;
        font-size: 55px;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  #refer {
    .hero {
      min-height: 900px;
    }
    .prizes {
      padding-bottom: none;
      background: none repeat scroll 0% 0% #FFF;
      margin: 0 auto;

      .products {
        .title {
          margin-right: auto;
          min-width: 150px;
        }
        .product {
          margin-right: none;
        }
        .title, .product {
          display: table-cell !important;
          width: 20% !important;
          float: none !important;
          padding-top: 5px;
        }
      }
    }
    .mammoth {
      float: none;
      background-position: center top;
      margin: 0px auto;
    }
    .share-wrap {
      margin: 0px auto;
      float: none;
      width: auto;
      .copy-link, .copied-msg {
        width: 90%;
      }
      .copied-msg {
        margin: 0 auto;
      }
      .why, .subtitle, .copy-link {
        font-size: 25px;
      }
      .title {
        font-size: 45px;
        line-height: normal;
      }
    }
    .page-content {
      min-width: 640px;
      max-width: 1140px;
      width: auto;
    }
  }
}

@media screen and (max-width: 640px) {
  #refer {
    .page-content {
      max-width: 640px;
    }
    .page-content, .mammoth {
      min-width: 320px;
      width: auto;
    }
    .mammoth {
      background-size: contain;
    }
    .share-wrap, .prizes {
      margin: -10px auto;
    }
    .share-wrap {
      .why, .subtitle, .copy-link {
        font-size: 15px;
      }
      .title {
        font-size: 30px;
      }
    }
    .hero {
      min-height: 800px;
    }
    .prizes {
      .products {
        .title {
          display: none !important;
        }
        .product p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  #refer {
    .page-content {
      min-width: 320px;
      .mammoth {
        height: 300px !important;
        background-position: center bottom;
      }
      .share-wrap {
        .why, .subtitle, .copy-link {
          font-size: 15px;
        }
        .title {
          font-size: 30px;
        }
      }
    }

  }
}
